{% extends "accounts/base.html" %}
{% load wrap_links %}
{% block title %}Profile{% endblock %}
{% block content %}

<h3 style="color:#428bca">{{ request.user.username }}</h3>
<div class="col-md-8">
  <dl class="dl-horizontal">
    <dt>Username</dt>
    <dd>{{ request.user.username }}</dd>
    <dt>Email</dt>
    <dd>{{ request.user.email }}</dd>
    <dt>Date joined</dt>
    <dd>{{ request.user.date_joined }}</dd>
    <dt>Blogs authored</dt>
    <dd>{{ request.user.authored_blogs.all|join_name_link:", "|safe }}</dd>
  </dl>
</div>

{% endblock %}