{% load string_tags %}
<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">{% include "global/project_name.html" %}</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        {% if request.path|startswith:"/blog/" and blog %}
        <form class="navbar-form navbar-left" role="search" method="get" action="{% url 'search' slug=blog.slug %}" >
          <div class="form-group">
            <input name="query" type="text" class="form-control" placeholder="Search This Blog" value="{{ request.GET.query }}">
          </div>
          <button type="submit" class="btn btn-info">Search</button>
        </form>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% include "navbar/user.html" %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

