{% load string_tags %}
{% url 'blogs:index' as blogs_index_url %}
{% url 'blogs:following' as blogs_following_url %}
{% url 'accounts:index' as accounts_index_url %}
  {% if request.user.is_authenticated %}
    <li {% if request.path == blogs_index_url %}class="active"{% endif %}><a href="{{ blogs_index_url }}">Blogs</a></li>
    <li {% if request.path == blogs_following_url %}class="active"{% endif %}><a href="{{ blogs_following_url }}">Following</a></li>
    <li {% if request.path|startswith:accounts_index_url %}class="active"{% endif %} class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
      {{ request.user.username }}
    <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="{% url 'accounts:profile' %}">Profile</a></li>
      <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
    </ul>
  {% else %}
    <li><a href="{% url 'accounts:login' %}">Login</a></li>
    <li><a href="{% url 'accounts:signup' %}">Signup</a></li>
  {% endif %}

</li>