{% url 'blogs:create' as blogs_create_url %}
{% url 'blogs:following' as blogs_following_url %}
<div style="margin: 1em 0">
  <div class="list-group">
    <li class="list-group-item list-group-header"><h3 class="list-group-header" style="color:#fff">Blog{% include "blogs/blog/status.html" %}</h3></li>
    {% if blog %}
      {% if request.user == blog.creator %}
        <a class="list-group-item" href="{% url 'settings' slug=blog.slug %}">Settings</a>
        <a class="list-group-item" href="{% url 'posts:create' slug=blog.slug %}">Post</a>
        <a class="list-group-item" href="{% url 'posts:dashboard' slug=blog.slug %}">Dashboard</a>
      {% elif request.user in blog.authors.all %}
        <a class="list-group-item" href="{% url 'posts:create' slug=blog.slug %}">Post</a>
        <a class="list-group-item" href="{% url 'posts:dashboard' slug=blog.slug %}">Dashboard</a>
      {% else %}
        <a class="list-group-item" href="{% url 'settings' slug=blog.slug %}">Follow</a>
      {% endif %}
    {% else %}
      <a class="list-group-item" href="{% url 'blogs:create' %}">Create</a>
    {% endif %}
  </div>
</div>