{% extends "blogs/base.html" %}
{% load static %}
{% load pagination_tags %}
{% block title %}Your Blogs{% endblock %}
{% block content %}
{% autopaginate blogs %}
<h3 style="color:#428bca">Your Blogs</h3>
<p class="text-muted">Manage Blogs<p>
<div class="col-md-12">
  <table class="table">
    {% if not invalid_page and blogs %}
    <tr>
      <th>Blog</th>
      <th>Creator</th>
      <th>Authors</th>
    </tr>
    {% endif %}
  {% for blog in blogs %}
    <tr>
      <td><a href="{% url 'blog' slug=blog.slug %}">{{ blog.name }}</a></td>
      <td nowrap><small class="text-muted"><a href="{% url 'accounts:page' username=blog.creator.username %}">{{ blog.creator.username }}</a></small></td>
      <td nowrap><small class="text-muted">{{ blog.authors.all|join:", " }}</small></td>
    </tr>
  {% empty %}
    {% if invalid_page %}
      <p>Invalid page.</p>
    {% else %}
        You haven't created any blogs.
    {% endif %}
  {% endfor %}
  </table>
  {% paginate %}
</div>
{% endblock %}